flask
flask-cors

#Honeycomb packages for instrumenting flask app with open telemetry
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

#installing Xray sdk to instrument 
aws-xray-sdk

#Cloudwatch - to send our logs to cloudwatch
watchtower

# Rollbar
blinker
rollbar

Flask-AWSCognito

#Postgresql-python client binaries
psycopg[binary]
psycopg[pool]